---
import BaseLayout from "@layouts/BaseLayout.astro";

export function getStaticPaths () {
 return [
    {params: {date: '20230919', name: 'Compleanno'}},
    {params: {date: '20231209', name: 'Festa'}},
    {params: {date: '20231225', name: 'Natale'}},
  ];
}

const { date, name } = Astro.params;
---

<BaseLayout>
  <h1 class="text-center">if you see this, it means the code works!</h1>
</BaseLayout>
