---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
const title = "Home Page";
---

<BaseLayout>
  <title slot="head">{title}</title>
  <div class="row m-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
    <Card
      img="proj/20230919 - Compleanno.jpg"
      title="Compleanno"
      subtitle="19/09/2023"
      btnLink="20230919 - Compleanno/images"
    />
    <Card
      img="proj/20231209 - Festa.jpg"
      title="Festa"
      subtitle="09/12/2023"
      btnLink="20231209 - Festa/images"
    />
    <Card
      img="proj/20231225 - Natale.jpg"
      title="Natale"
      subtitle="25/12/2023"
      btnLink="20231225 - Natale/images"
    />
  </div>
</BaseLayout>
