---
import BaseLayout from "../layouts/baseLayout.astro";
import CardList from "../layouts/cardList.astro";
const title = "Home Page";
---

<BaseLayout>
  <title slot="head">{title}</title>
  <div class="row m-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
    <CardList/>
  </div>
</BaseLayout>
